body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
}

#app {
  position: relative;
}

video {
  width: 640px;
  height: 480px;
  border: 2px solid #fff;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  pointer-events: none;
}
